
# Entorno y configuración
.env
venv/
.venv/
reconocimiento_venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
media/
staticfiles/
*.log

# Env
.env

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/